
h1{
    font-family: Monomaniac One;
}

#log_out{
    padding: 5px 10px;
    font-family: Monda;
    color: #000000;
    border-radius: 7px;
    filter: drop-shadow(5px 5px);
    margin-left: 18px;
}

p{
    font-family: Monda;
}

body{
    background-color: #B89CF1;
}

.sign-in-form {
    font-family: Monomaniac One;
    font-size: 160%;
    background-color: #C8AEFF;
    border: 20px #7B52B4 solid;
    filter: drop-shadow(16px 16px );
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 250px auto;
    max-width: 300px;
    max-height: 150px;
    padding: 40px;
}

input{
    max-width: 600px;
}

#form-line-two {
    margin-top: 20px;
}

.heart-home{
    margin-left: 250px;
    margin-top: 15px;
}

.heart-home :hover{
    scale: 120%;
}

.get-a-life{
    color: #FFC4E2;
    font-size: 350%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    max-height: 200px;
}

.hearts-home{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 0 20px #a085d9);
}

.hearts-home :hover{
    scale: 105%;
    display: flex;
    justify-content: center;
}

#white-box {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
}

#pink-box {
    background-color: pink;
}

#pink-box-bottom{
    background-color: pink;
    margin-top: 130px;

}

.flex-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ht :hover{
    scale: 110%;
}

p{
    margin-top: -5px;
    padding: 20px;
    text-align: center;
}

img{
    justify-content: center;

}


.b1{
    padding: 10px 20px;
    font-family: Monda;
    color: #000000;
    border-radius: 7px;
    margin-left: -100px;
    filter: drop-shadow(5px 5px);
    
}

.centered-image {
    display: block;
    width: 40%;
    margin: 0px auto 0px auto;
}


.gameover-background {
    background-color: pink;
}

.b2{
    padding: 10px 20px;
    font-family: Monda;
    color: #000000;
    border-radius: 7px;
    margin-right: -100px;
    filter: drop-shadow(5px 5px);
}

#white-box {
    background-color: white;
}

.hearts_gameover{
   display: flex;
   justify-content: center;
   margin-top: 2%;

}

.hearts_gameover :hover{
    scale: 105%;
}

#play_again{
    color: #FF3865;
    display: flex;
    justify-content: center;
    text-decoration: none;
}