
h1{
    font-family: Monomaniac One;
}

p{
    font-family: Monda;
}

body{
    background-color: #C8AEFF;
}

.sign-in-form {
    font-family: Monomaniac One;
    font-size: 160%;
    background-color: pink;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 250px auto;
    max-width: 300px;
    max-height: 150px;
    padding: 40px;
}

input{
    max-width: 600px;
}

#form-line-two {
    margin-top: 20px;
}

.heart-home{
    scale: 20%;
    margin-top: -40px;
    margin-left: 180px;
}

.heart-home :hover{
    scale: 120%;
}

.get-a-life{
    color: #7B52B4;
    font-size: 300%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    max-height: 200px;
}

.hearts-home{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    scale: 40%;
    filter: drop-shadow(0 0 20px #a085d9);
}

.hearts-home :hover{
    scale: 105%;
    display: flex;
    justify-content: center;
}

#white-box {
    background-color: white;
    padding: 20px;
    margin: 10px;
}

#pink-box {
    background-color: pink;
}

#pink-box-bottom{
    background-color: pink;
    margin-top: 130px;

}

.flex-container {
    display: flex;
}

.ht{
    scale: 20%;

}

.ht :hover{
    scale: 110%;
}

p{
    margin-top: -5px;
    padding: 20px;
    text-align: center;
}

img{
    justify-content: center;

}

b1{
    grid-area: b1;
    margin-left: 20px;
    margin-bottom: 20px;
}

.b1{
    padding: 5px 10px;
    font-family: Monda;
    color: #7B52B4;
    border-radius: 3px;
    
}


b2{
    grid-area: b2;
    position: relative;
    left: 50px;

}

.b2{
    padding: 5px 10px;
    font-family: Monda;
    color: #7B52B4;
    border-radius: 3px;
    box-shadow: inset 0 0 0 0 #7B52B4;
    transition: ease-out 0.3s;

}

#white-box {
    background-color: white;
}

.hearts_gameover{
   display: flex;
   justify-content: center;
    scale: 30%;
    margin: -50px;
}

.hearts_gameover :hover{
    scale: 105%;
}

#play_again{
    color: #FF3865;
    display: flex;
    justify-content: center;
    text-decoration: none;
}